<footer class="surface-100 p-4 text-sm">
    <div class="flex flex-column md:flex-row align-items-center justify-content-between">

        <!-- Gauche : Logo Angular + copyright -->
        <div class="flex align-items-center gap-2 mb-3 md:mb-0">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" width="28" />
            <span class="font-semibold">© {{ currentYear }} – By Nayren</span>
        </div>

        <!-- Centre : Projet -->
        <div class="flex flex-column align-items-center mb-3 md:mb-0">
            <span class="text-lg font-bold">Projet Base de Données</span>

            <span class="mt-3">Rayan CHOUCHANE, Vidjay VELAYOUDAM, Maxime FAHIM, Abdel-waheb SAKKAL</span>
        </div>

        <!-- Droite : Powered by -->
        <div class="flex justify-content-end ">
            <a href="https://www.data.gouv.fr/fr/datasets/apprentissage-effectifs-detailles-2008-2009-idf/"
                target="_blank" rel="noopener noreferrer"
                class="p-button flex align-items-center gap-2 px-3 py-2 border-round-xl"
                style=" text-decoration: none !important">
                <span class="text-2xl">Powered by </span>
                <img class="border-round-lg"
                    src="https://static.data.gouv.fr/avatars/b2/303d63fe6841e99235292f9ccdb0b2-original.png" width="30"
                    alt="data.gouv.fr" />
            </a>
        </div>

    </div>
</footer>