<footer class="surface-100 p-4 text-sm">
    <div class="flex flex-column md:flex-row align-items-center justify-content-between">

        <!-- Gauche : Logo Angular + copyright -->
        <div class="flex align-items-center gap-2 mb-3 md:mb-0">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" width="28" />
            <span class="font-semibold">© {{ currentYear }} – Dev by Nayren</span>
        </div>

        <!-- Centre : Projet -->
        <div class="flex flex-column align-items-center mb-3 md:mb-0">
            <span class="text-lg font-bold">Projet Base de Données</span>
            <small>Lucas, Jade, Enzo, Clara</small>
        </div>

        <!-- Droite : Powered by -->
        <div class="flex justify-content-end">
            <a href="https://www.data.gouv.fr/fr/datasets/apprentissage-effectifs-detailles-2008-2009-idf/"
                target="_blank" rel="noopener noreferrer"
                class="p-button p-button-outlined p-button-info flex align-items-center gap-2 px-3 py-2"
                style="font-size: 1rem;">
                <img src="https://static.data.gouv.fr/avatars/b2/303d63fe6841e99235292f9ccdb0b2-original.png" width="24"
                    alt="data.gouv.fr" />
                <span class="font-medium">Powered by data.gouv.fr</span>
                <i class="pi pi-arrow-up-right"></i>
            </a>
        </div>

    </div>
</footer>