<div class="card">
    <h2 class="text-center">Identifier les Spécialités ayant la Plus Grande Proportion de Jeunes en Situation de
        Handicap en 2024-2025
    </h2>
    <p class="text-center text-white mb-4" style="text-align: center;">
        Quelles sont les spécialités ayant la plus grande proportion de jeunes en situation de handicap en 2024-2025 ?

    </p>

    <p-dropdown [options]="annees" [(ngModel)]="selectedAnnee" placeholder="Sélectionner une année"
        [showClear]="true"></p-dropdown>

    <div>
        <button pButton label="Envoyer" icon="pi pi-send" (click)="fetchSpecialitesHandicap()"
            [disabled]="!selectedAnnee"></button>
    </div>

    <div *ngIf="!noData" class="flex justify-content-center mt-4">
        <p-chart type="radar" [data]="radarChartData" class="w-3 align-items-center"></p-chart>
    </div>

    <p-table *ngIf="!noData && !loading" [value]="specialitesHandicapData" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[5, 10, 25]" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="libelle_specialite">Spécialité <p-sortIcon field="libelle_specialite"></p-sortIcon>
                </th>
                <th pSortableColumn="pourcentage_handicap">Pourcentage Handicap (%) <p-sortIcon
                        field="pourcentage_handicap"></p-sortIcon></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.libelle_specialite }}</td>
                <td>{{ row.pourcentage_handicap }}</td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Affichage du message si aucune donnée n'est disponible -->
    <div *ngIf="noData" class="alert alert-warning">
        <p-message severity="warn">Attention aucune donnée disponible pour cette sélection.</p-message>
    </div>
</div>